.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header.jumbotron {
  background-color: darkblue;
  color: white;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bg-success {
  background-color: green !important;
}

.bg-danger {
  background-color: #ff0000 !important;
}

.bg-warning {
  background-color: yellow !important;
  color: #444444 !important;
}

.badge {
  margin-right: 5px;
}
